body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;

}

header{
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

header div img{
  height: 50px;
}
nav{
  display: inline-flex;

}
