/* Universal Body Styles   */

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;

}

header{
  display: flex;
  height: 69px;
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 10px;
  z-index: 5;
}


  /*or header figure{float: left;}
  or position: fixed;  left: 10px; instead of the above  */


header figure img{
  height: 50px;
  margin: 1px;
}

nav{
  display:inline;

}

header nav span{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: underline;
}


/*  Our Mision Section Styles  */
#mission{
  display: flex;
  height: 700px;
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}



.mission-content{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 1200px;
  margin: 0 auto;
}

/*  Tea of the month Section Styles  */

#tea-of-the-month{
  width: 1200px;
  margin: 0 auto;
}

.teatypes{
  display: flex;
  width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  }


.teatypes figure img{
  height: 200px;
  width: 300px;
}

.teatypes figure{
  margin: 10px;
}

/*  Locations Section Styles  */

#location{
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-repeat: no-repeat;
}

#location .addresses{
  margin: 0 auto;
}

#location .addresses div{
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  background-color: black;
}

.addresses{
  display: flex;
  width: 1000px;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.addresses div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  Footer Section Styles  */
footer{
width: 1200px;
  margin: 0 auto;
}

footer.contact{
  height: 200px;
}

footer span{
  float: left;
}
